html, 
body{
    height: 100%;
    background-color:white ;
}

.bg-img {
    /* The image used */
    background-image: url(../images/banner.jpg);
  
    min-height: 900px;
  
    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Needed to position the navbar */
    position: relative;

}

.page-wrapper{
    min-height: 100%;
    margin-left: 176px;
    margin-right: 176px;
}

.navbar-default {
    background-color: inherit;
    color: white;
}

.container-fluid {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
}

.input-group {
    padding-left: 450px;
}

.navbar-brand {
    font-size: 250%;
    font-weight: bold;
    color:#ffffff !important;
}

.navbar-nav{
    color:white !important;
}

.whitebar {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;

}

.headerbanner{
    margin-top: 90px;
    background-color: inherit;
    color: #FFFFFF;
}

h1{
    position: relative;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    
    color: white;
}

h2{   
    position: relative;
    text-align: center;
    font-style: normal;
    font-size: 30px;
    line-height: 70px;
    margin-top: 50px;
    
    color: #FFFFFF;
}

.mainpagetitle {
    position: relative;
    text-align: center;
    font-style: normal;
    font-size: 60px;
    font-style: bold;
    line-height: 70px;
    
    color: #2B2B2B;
}


.subcontent {
    margin-bottom: 200px;
}
.subpagetitle {
    font-style: normal;
    font-size: 60px;
    font-style: bold;
    line-height: 70px;
    text-align: center;
    width: 300px;
    margin-bottom: 50px;
}

.subpurplebar {
    width: 310px;
    height: 5px;
    background-color: #8557E7;
}

.subcontenttext {
    width: 700px;
    height: 300px;
    font-size: 30px;
    display: flex;
}

.subcontentimage {
    position: absolute;
    left: 1020px;
    margin-top: 20px;
}


.greenbar {
    position: absolute;
    width: 100px;
    top: 44%;
    left: 47%;
    height: 2px;
    background-color: #65FC74;
}

.limebar {
    width: 100px;
    top: 44%;
    height: 2px;
    background-color: #65FC74;
    margin-left: 47.3%;
}

.purplebar {
    width: 400px;
    height: 5px;
    margin-left: 37%;
    background-color: #8557E7;
}

.card-content {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    color: white;
}

.card {
    width: 400px;
    height: 600px;
    background-color: #5385C1;
    color: white;
}

.card2 {
    margin-left: 170px;
    width: 400px;
    height: 600px;
    background-color: #5385C1;
    color: white;
}

.card-img-top {
    margin-left: 125px; 
    margin-top: 60px;
    margin-bottom: 20px;
}

.card-title {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.card-text {
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
}

.headerbutton {
    margin-top: 5%;
    margin-left: 45.3%;
}

.viewcourses{
    background-color: #00BD62;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

.studentbannerbutton {
    margin-top: 2%;
}

.getstarted{
    background-color: #00BD62;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    padding: 14px 40px;
    border-color: #1ACBC0;
}

.studentbanner {
    background-color: #5385C1;
    height: 500px;
    text-align: center;
    color: white;
    padding-top: 100px;
}

ol{
    list-style-type: none;
}

/* footer*/
.footer {
    background:#414141;;
    color: #FFFFFF;
    height:400px;
    position: relative;
    bottom: 0px;
    left: 0px;
}
.footer .footer-content{
    height: 350px;
    display: flex;
}

.footer .footer-content .footer-section {
    flex: 1;
    padding: 23px;
}
.footer .footer-content h1,
.footer .footer-content h2 {
    color: white;
}

.footer .footer-content .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .footer-content .about .socials a {
    border: 1px solid white;
    width:45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
    border-radius: 5px;
    transition: all .3s;
}
.footer .footer-content .about .socials a:hover{
    border:1px solid white;
    color: black;
    transition: all .3s;
}

.footer .footer-bottom{
    color:#FFFFFF;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;


} 

.light-grey {
    position: absolute;
width: 1843px;
height: 0px;
left: 30px;
border: 3px 
solid #525252;
}
